<div class="container mb-4">
  <div
    class="row row-cols-1 row-cols-lg-2 align-items-center"
    style="background-color: #fafafa"
  >
    <div id="app-image-container">
      <img src="assets/images/download-app-phone_en.png" alt="" />
    </div>
    <div id="app-details">
      <h3 class="mb-4">
        Unlock exclusive features available only on the Wego App. Download it
        now!
      </h3>
      <div id="app-featuures" class="mb-4">
        <div class="feature-line">
          <i class="fa-solid fa-circle-check" style="color: #44b50c"></i>
          <p>
            Enjoy more than ten practical features tailored exclusively for app
            users.
          </p>
        </div>
        <div class="feature-line">
          <i class="fa-solid fa-circle-check" style="color: #44b50c"></i>
          <p>
            Discover our Explore page for Popular Destinations, Weekend
            Getaways, Travel News, and more.
          </p>
        </div>
        <div class="feature-line">
          <i class="fa-solid fa-circle-check" style="color: #44b50c"></i>
          <p>
            Swift checkout process on the Wego app with offline booking access,
            various discounts, and password-less logins.
          </p>
        </div>
      </div>
      <div id="app-download-links">
        <p>Scan to download</p>
        <div>
          <div id="app-qr">
            <img src="assets/images/qr_code.png" alt="" />
          </div>
          <div id="app-store-links">
            <a
              href="https://play.google.com/store/apps/details?id=com.wego.android&pcampaignid=web_share"
              ><img src="assets/images/googlePlay.png" alt=""
            /></a>
            <a
              href="https://apps.apple.com/us/app/wego-flights-hotels-booking/id751096907"
            >
              <img src="assets/images/appStore.png" alt="" />
            </a>
            <a href="https://appgallery.huawei.com/app/C100103105">
              <img src="assets/images/appGalary.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
