<div class="card mb-3">
  <div class="card-img-wrapper">
    <carousel [noPause]="false" [interval]="0">
      @for (item of room().images; track $index) {
      <slide>
        <img src="{{ item.url }}" class="card-img-top" style="height: 20rem" />
      </slide>
      }
    </carousel>
  </div>
  <div class="card-body p-2">
    <div class="row px-2">
      <div class="col-10">
        <p class="text-black" style="font-weight: 500">
          {{ room().country }}, {{ room().city }}
        </p>
      </div>
      <div class="col-2">
        <p class="text-end">
          <span>{{ room().rating }} </span>
          <i class="fa fa-star" style="color: gold"> </i>
        </p>
      </div>
      <div class="col-12">
        <p>{{ room().roomOwner }}</p>
      </div>
      <div class="col-12">
        <p class="text-black">
          <span style="font-weight: 500">{{ room().price | currency }}</span>
          night
        </p>
      </div>
      <div class="col-12 d-flex px-3">
        <button
          routerLink="/hotels/details/{{ room().roomID }}"
          class="my-btn search-btn mb-3 d-block w-100"
          type="button"
        >
          More Details
        </button>
      </div>
    </div>
  </div>
</div>
