<div class="container">
  <div class="row align-items-center mb-5">
    <div class="col-12 col-md-4">
      <div id="airliens-title">
        <h4>Popular Airlines in Egypt</h4>
        <p>Book cheap flights on your favourite airlines</p>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div id="airlines-image" class="row row-cols-4">
        <div>
          <a target="_blank" href="https://www.airarabia.com/"
            ><img src="/assets/images/airlines/E5.png" alt=""
          /></a>
        </div>
        <div>
          <a target="_blank" href="https://www.emirates.com/"
            ><img src="/assets/images/airlines/EK.png" alt=""
          /></a>
        </div>
        <div>
          <a target="_blank" href="https://www.qatarairways.com/"
            ><img src="/assets/images/airlines/QR.png" alt=""
          /></a>
        </div>
        <div>
          <a target="_blank" href="https://www.egyptair.com/"
            ><img src="/assets/images/airlines/MS.png" alt=""
          /></a>
        </div>
        <div>
          <a target="_blank" href="https://www.nileair.com/"
            ><img src="/assets/images/airlines/NP.png" alt=""
          /></a>
        </div>
        <div>
          <a target="_blank" href="https://www.saudia.com/"
            ><img src="/assets/images/airlines/SV.png" alt=""
          /></a>
        </div>
        <div>
          <a target="_blank" href="https://www.turkishairlines.com/"
            ><img src="/assets/images/airlines/TK.png" alt=""
          /></a>
        </div>
        <div>
          <a target="_blank" href="https://www.flynas.com/"
            ><img src="/assets/images/airlines/XY.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
