<div class="container" id="form-component">
  <div id="form-change-btns">
    <a
      routerLink="/flights"
      routerLinkActive="active-page-btn"
      [routerLinkActiveOptions]="{ exact: true }"
      id="flights-btn"
      ><i style="font-size: 20px" class="fa-solid fa-plane"></i>Flights</a
    >
    <a
      routerLink="/hotels"
      routerLinkActive="active-page-btn"
      [routerLinkActiveOptions]="{ exact: true }"
      id="rooms-btn"
      ><i style="font-size: 20px" class="fa-solid fa-hotel"></i>Rooms</a
    >
  </div>
  <div id="form-body">
    <div class="container p-4" style="margin-top: 0px">
      <!-- <div class="row">
        <div class="col-12 mt-2">
          <button type="button" class="btn btn-dark btn-lg mx-2">
            Flights <i class="fa fa-plane"></i>
          </button>
          <button
            routerLink="/hotels"
            type="button"
            class="btn btn-dark btn-lg mx-2"
          >
            Hotels <i class="fa fa-home"></i>
          </button>
        </div>
      </div> -->
      <form #editForm="ngForm" class="mt-2" (ngSubmit)="onSend()">
        <div class="row">
          <div class="col-12 col-md-7">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Destination"
                [(ngModel)]="country"
                name="country"
              />
              <label for="floatingInput">Destination</label>
            </div>
          </div>

          <div class="col-12 col-md-5 d-flex">
            <!-- <input
                type="type"
                class="form-control"
                placeholder="Guests"
                autocomplete="off"
                [(ngModel)]="guest"
                name="guest"
              />
              <label for="floatingPassword">Guests</label> -->
            <select
              [(ngModel)]="guest"
              class="form-control mb-3"
              [value]="guest()"
              name="guest"
              (change)="changeGuestValue($event)"
            >
              <option value="" selected>Select Room Type...</option>
              <option value="1">Single</option>
              <option value="2">Double</option>
              <option value="3">Triple</option>
            </select>
          </div>
        </div>

        <div class="col-12 text-end">
          <button type="submit" class="search-btn my-btn">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
