<div class="delete-container">
  <div>
    <div class="alert alert-danger delete-alert-on-screen" role="alert">
      Are you sure you want to delete <strong>{{ airline?.name }}</strong>
      @if (internalError) {
      <p class="h6 text-decoration-underline">{{ internalError }}</p>
      }
      <div class="d-flex justify-content-end mt-3">
        <a (click)="delete()" class="btn btn-danger me-2">Yes</a>
        <a routerLink="/dashboard/airlines" class="btn btn-secondary">Cancel</a>
      </div>
    </div>
  </div>
</div>
