<footer>
  <div class="container">
    <div
      id="quick-links"
      class="justify-content-center row row-cols-1 row-cols-sm-2 row-cols-lg-4"
    >
      <nav>
        <h5>COMPANY</h5>
        <a href="https://company.wego.com" target="_blank" rel="noreferrer"
          >About Wego</a
        ><a
          href="https://company.wego.com/newsroom?_gl=1*prrkp4*_gcl_au*MzE2Njc1Njk1LjE3MjUwMzc0NjU.*_ga*MTQyNTkxNjYyMS4xNzI1MDM3NDY2*_ga_VG6EGRH8EN*MTcyOTcwOTU2OS4yOC4wLjE3Mjk3MDk1NzUuNTQuMC45MDIzMTU0MzM."
          target="_blank"
          rel="noreferrer"
          >Press</a
        ><a
          href="https://company.wego.com/careers"
          target="_blank"
          rel="noreferrer"
          >Careers</a
        ><a
          href="https://company.wego.com/support"
          target="_blank"
          rel="noreferrer"
          >Contact Us</a
        >
      </nav>

      <nav>
        <h5>LEARN MORE</h5>
        <a
          href="https://company.wego.com/book-on-wego?_gl=1*e42ego*_gcl_au*MzE2Njc1Njk1LjE3MjUwMzc0NjU.*_ga*MTQyNTkxNjYyMS4xNzI1MDM3NDY2*_ga_VG6EGRH8EN*MTcyOTcwOTU2OS4yOC4wLjE3Mjk3MDk1NzUuNTQuMC45MDIzMTU0MzM."
          target="_blank"
          rel="noreferrer"
          >Book on Wego</a
        ><a
          href="https://www.wegopro.com/?utm_source=wego&amp;utm_medium=web&amp;utm_campaign=bottom-nav-bar"
          target="_blank"
          rel="noreferrer"
          class="OYjDaMOOjrrRiSS5nC_2"
          ><strong>WegoPro</strong> Business Travel
          <div class="wjKV4UC98CPLqvgYzzUy">New</div></a
        ><a href="https://www.wan.travel" target="_blank" rel="noreferrer"
          >Affiliates </a
        ><a
          href="https://www.wego.com/advertise?_gl=1*prrkp4*_gcl_au*MzE2Njc1Njk1LjE3MjUwMzc0NjU.*_ga*MTQyNTkxNjYyMS4xNzI1MDM3NDY2*_ga_VG6EGRH8EN*MTcyOTcwOTU2OS4yOC4wLjE3Mjk3MDk1NzUuNTQuMC45MDIzMTU0MzM."
          target="_blank"
          rel="noreferrer"
          >Advertise</a
        ><a
          href="https://company.wego.com/hoteliers"
          target="_blank"
          rel="noreferrer"
          >Hoteliers</a
        ><a
          href="https://company.wego.com/data-privacy-policy"
          target="_blank"
          rel="noreferrer"
          >Data Privacy Policy</a
        ><a href="https://www.wego.com/terms" target="_blank" rel="noreferrer"
          >Terms</a
        >
        <div id="cookie-script-footer-link"></div>
      </nav>

      <nav>
        <h5>EXPLORE</h5>
        <a href="/en/airports" target="_blank" rel="noreferrer"
          >Airport Directory</a
        ><a href="/en/airlines" target="_blank" rel="noreferrer"
          >Airlines Directory</a
        ><a href="/en/schedules" target="_blank" rel="noreferrer"
          >Flight Schedules</a
        ><a href="/en/hotels/chains" target="_blank" rel="noreferrer"
          >Hotel Chains</a
        >
      </nav>

      <nav>
        <h5>DOWNLOAD</h5>
        <a
          href="https://wegotravel.onelink.me/pGV9/6e3f482e"
          target="_blank"
          rel="noreferrer"
          >Wego App (iOS)</a
        ><a
          href="https://wegotravel.onelink.me/pGV9/6e3f482e"
          target="_blank"
          rel="noreferrer"
          >Wego App (Android)</a
        >
      </nav>
    </div>
    <div id="socials-copy">
      <h6>© 2024 Wego Pte Ltd</h6>
      <div id="socilas">
        <a href="https://www.facebook.com/Wego.Arabia/" target="_blank"
          ><i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://x.com/wegoarabia" target="_blank"
          ><i class="fa-brands fa-x-twitter"></i
        ></a>
        <a href="https://www.instagram.com/wegoarabia/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://www.linkedin.com/company/wego-com" target="_blank"
          ><i class="fa-brands fa-linkedin-in"></i
        ></a>
        <a href="https://www.youtube.com/user/wegoarabia" target="_blank"
          ><i class="fa-brands fa-youtube"></i
        ></a>
        <a href="https://www.snapchat.com/add/wegoarabia" target="_blank"
          ><i class="fa-brands fa-snapchat"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
