<div class="container">
  <div class="row align-items-center mb-5">
    <div class="col-12 col-md-4">
      <div id="partners-title">
        <h4>Our Travel Partners</h4>
        <p>
          Wego searches for the best deals on these sites in The United States
        </p>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div id="partners-image" class="row row-cols-4">
        <div>
          <img src="/assets/images/partners/booking.com.png" alt="" />
        </div>
        <div>
          <img src="/assets/images/partners/budgetair.nl.png" alt="" />
        </div>
        <div>
          <img src="/assets/images/partners/enuygun.com.png" alt="" />
        </div>
        <div>
          <img src="/assets/images/partners/gotogate.co.uk.png" alt="" />
        </div>
        <div>
          <img src="/assets/images/partners/hop2.com.png" alt="" />
        </div>
        <div>
          <img src="/assets/images/partners/kiwi.com.png" alt="" />
        </div>
        <div>
          <img src="/assets/images/partners/mytrip.com.png" alt="" />
        </div>
        <div>
          <img src="/assets/images/partners/odigeo.com.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
