<div class="container" style="margin-bottom: 25px">
  <div class="row row-cols-2 row-cols-lg-4">
    <div class="features-card">
      <img src="/assets/images/look-no-further.png" alt="" />
      <h6>Top travel app in Egypt</h6>
      <p>Highly rated in App Store & Google Play</p>
    </div>
    <div class="features-card">
      <img src="/assets/images/shop-with-confidence.png" alt="" />
      <h6>Shop with confidence</h6>
      <p>No hidden fees, taxes or other nasty surprises</p>
    </div>
    <div class="features-card">
      <img src="/assets/images/pay-the-way-you-want.png" alt="" />
      <h6>Pay the way you want</h6>
      <p>See only sellers who support your preferred methods</p>
    </div>
    <div class="features-card">
      <img src="/assets/images/instant-booking.png" alt="" />
      <h6>Instant booking</h6>
      <p>For selected sellers, book with just a couple of clicks</p>
    </div>
  </div>
</div>
