<carousel [isAnimated]="true">
  <h2 class="title-cor">Discover the real value of travel</h2>
  <slide>
    <div class="shape-slider">
      <img
        src="assets/images/hero-image_1.jpg"
        alt="second slide"
        style="display: block; width: 100%"
      />
    </div>
  </slide>
  <slide>
    <div class="shape-slider">
      <img
        src="assets/images/hero-image_2.jpg"
        alt="second slide"
        style="display: block; width: 100%"
      />
    </div>
  </slide>
  <slide>
    <div class="shape-slider">
      <img
        src="assets/images/hero-image_3.jpg"
        alt="second slide"
        style="display: block; width: 100%"
      />
    </div>
  </slide>
</carousel>
