<div class="form-container">
  <div>
    <form [formGroup]="terminalForm">
      <h3 class="text-center text-success mb-3">
        Updating {{ terminal?.name }}
      </h3>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Terminal Name"
          formControlName="name"
        />
        <label for="floatingInput">Terminal Name</label>
      </div>

      <div class="mb-3">
        <select class="form-control" formControlName="airportId">
          <option value="" selected>Choose Airport....</option>
          @for (airport of airports; track airport.id) {
          <option value="{{ airport.id }}">
            {{ airport.name }}
          </option>
          }
        </select>
      </div>

      @if(formErrors.length>0) {
      <ul class="form-errors">
        @for (error of formErrors; track $index) {
        <li>{{ error }}</li>
        }
      </ul>
      }

      <div class="d-flex justify-content-end">
        <a
          class="my-btn btn-close-add-page me-2"
          routerLink="/dashboard/terminals"
          >Cancel</a
        >
        <a class="my-btn btn-add-entity" (click)="updateTerminal()">Confirm</a>
      </div>
    </form>
  </div>
</div>
